# 🔐 API KEYS
OPENAI_API_KEY=sk-proj-ZOghQXl.....FWmw3sA
LANGSMITH_API_KEY=lsv2_pt_5d4ee2861......02d6ba42
LANGSMITH_TRACING=true

# ⚙️ CONFIGURAÇÕES DE ARQUIVO
MAX_FILE_SIZE_MB=100
DEFAULT_ENCODING=utf-8

# 📝 LOGGING
LOG_LEVEL=DEBUG

# 🌐 STREAMLIT
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=localhost

ENABLE_LANGGRAPH= True
ENABLE_LANGGRAPH_COMPARISON=True
LANGGRAPH_ROLLBACK_ON_ERROR = False # Always fallback if LangGraph fails
LANGGRAPH_SIMPLE_QUESTIONS_ONLY = False
ENABLE_PERFORMANCE_LOGGING = True
